/* Body Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

/* Navbar Styles */
nav {
  background: linear-gradient(90deg, #6a1b9a, #8e24aa);
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f1e4f3;
}

/* Container Styles */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Heading Styles */
h1 {
  color: #6a1b9a;
  text-align: center;
  margin-bottom: 20px;
}

/* Product List Styles */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Product Card Styles */
.product-card {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(20% - 40px); /* Define a largura dos cartões, garantindo 5 por linha */
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.product-card h2 {
  margin-top: 0;
  height: 60px; /* Altura fixa para os títulos */
  overflow: hidden; /* Esconder texto que excede a altura */
  text-overflow: ellipsis; /* Adicionar reticências ao texto que excede */
  color: #6a1b9a;
}

.product-card img {
  width: 100%;
  height: 150px; /* Defina uma altura fixa para as imagens */
  object-fit: contain;
  margin: 10px 0;
  transition: transform 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.05);
}

.product-card p {
  margin: 10px 0;
}

.product-card a {
  color: #6a1b9a;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.product-card a:hover {
  color: #ce93d8;
  text-decoration: underline;
}

/* Quantity Controls Styles */
.product-card .quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.product-card .quantity-controls button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.product-card .quantity-controls button:hover {
  background-color: #ce93d8;
  transform: scale(1.1);
}

.product-card .quantity-controls input {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  margin: 0 5px;
}

/* Add Product Card Styles */
.add-product-card-link {
  text-decoration: none; /* Remove sublinhado do link */
  width: calc(20% - 40px); /* Igual ao tamanho dos cards */
  margin: 10px; /* Mesma margem dos cards */
}

.add-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
  border: 2px dashed #6a1b9a;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Garante que a div tenha 100% do tamanho do link */
  height: 100%; /* Altura consistente com os outros cards */
}

.add-product-card:hover {
  background-color: #e1bee7;
}

.add-product-button {
  font-size: 2rem;
  color: #6a1b9a;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
}

.add-product-card:hover .add-product-button {
  transform: scale(1.1);
}

/* Product Form Styles */
.product-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-form h1 {
  color: #6a1b9a;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.product-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.product-form input[type="text"],
.product-form input[type="number"],
.product-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.product-form input[type="text"]:focus,
.product-form input[type="number"]:focus,
.product-form select:focus {
  border-color: #6a1b9a;
  outline: none;
}

.product-form button {
  width: 100%;
  padding: 12px;
  background-color: #6a1b9a;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-form button:hover {
  background-color: #8e24aa;
}

.product-form .form-group {
  margin-bottom: 20px;
}

/* Product Card Hover Effects */
.product-card {
  position: relative;
  overflow: hidden; /* Garante que nada saia dos limites do card */
}

.product-card-content {
  transition: filter 0.5s ease; /* Transição suave para o efeito de blur */
}

.product-card:hover .product-card-content {
  filter: blur(8px); /* Aplica o blur ao passar o mouse */
}

.product-card p.description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  background-color: rgba(255, 255, 255, 0.8); /* Fundo semitransparente para a descrição */
  display: flex;
  justify-content: center; /* Alinha o conteúdo no topo da div */
  align-items:flex-start; /* Alinha o conteúdo no topo da div */
  padding: 10px; /* Adiciona padding interno para evitar cortes */
  opacity: 0;
  transition: opacity 0.5s ease; /* Transição suave para a opacidade */
  overflow: auto; /* Permite rolagem se o conteúdo for maior que o espaço disponível */
}

.product-card:hover p.description {
  opacity: 1;
}

/* Button Group Styles */
.product-card .button-group {
  position: relative;
  z-index: 10; /* Mantém os botões acima de todos os outros elementos */
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px; /* Espaçamento entre os botões */
}

/* Category Filter Styles */
.category-filter {
  margin-bottom: 20px;
  text-align: center;
}

.category-filter select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.category-filter select:focus {
  outline: none;
  border-color: #6a1b9a;
}

/* Home Page Styles */
.home {
  padding: 20px;
}

.charts-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.chart {
  width: 30%;
  min-width: 300px;
  margin-bottom: 20px;
}

.reports {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reports h2 {
  margin-top: 0;
}

.reports ul {
  list-style-type: none;
  padding: 0;
}

.reports li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.reports li:last-child {
  border-bottom: none;
}

/* Client Form Styles */
.add-client-button {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px; /* Adiciona espaço acima do botão */
}

.add-client-button button {
  padding: 10px 20px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-client-button button:hover {
  background-color: #8e24aa;
}

/* Estilização da Tabela de Clientes */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #6a1b9a;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Botões de Ações na Tabela */
table td button {
  padding: 5px 10px;
  margin-right: 10px; /* Aumenta o espaço entre os botões */
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

table td button:hover {
  background-color: #8e24aa;
}

table td button:last-child {
  margin-right: 0;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.client-table th,
.client-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.client-table th {
  background-color: #6a1b9a;
  color: white;
}

.client-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.client-table .actions {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}

.client-table .btn {
  padding: 5px 10px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.client-table .btn:hover {
  background-color: #8e24aa;
}

.add-client-button-container {
  margin-top: 20px;
  text-align: right;
}

.add-client-button .btn.add-btn {
  padding: 10px 20px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-client-button .btn.add-btn:hover {
  background-color: #8e24aa;
}


/* Responsiveness */
@media (max-width: 1200px) {
  .product-card {
    width: calc(25% - 40px); /* 4 por linha */
  }
}

@media (max-width: 992px) {
  .product-card {
    width: calc(33.33% - 40px); /* 3 por linha */
  }
}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 40px); /* 2 por linha */
  }
}

@media (max-width: 576px) {
  .product-card {
    width: calc(100% - 40px); /* 1 por linha */
  }
}

@media (max-width: 768px) {
  .product-form {
    padding: 15px;
  }
}
