/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

nav {
  background-color: #343a40;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}

h1 {
  color: #343a40;
}

.product-card {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px; /* Defina a largura dos cartões */
  box-sizing: border-box;
  text-align: center; /* Centralize o conteúdo dentro do cartão */
}

.product-card h2 {
  margin-top: 0;
}

.product-card a {
  color: #007bff;
  text-decoration: none;
}

.product-card a:hover {
  text-decoration: underline;
}

.product-card img {
  width: 150px; /* Defina a largura fixa para as imagens */
  height: 150px; /* Defina a altura fixa para as imagens */
  object-fit: cover; /* Faz a imagem cobrir o espaço definido */
  margin: 10px 0; /* Adiciona espaço entre a imagem e o texto */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Reduza o espaçamento entre os cartões */
  justify-content: center; /* Centralize os cartões */
}
